.center {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    justify-content: center;
}

.grid-item img {
    width: 100%; 
}
